
*{
    /* background-color: blue; */
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.containerInv{
    /* display: flex; */
    /* background-color: white; */
    width: 30%;
    height: 95%;
    background: linear-gradient(to top right,
                 rgba(165, 138, 104, 0.692), 
                 rgba(255, 255, 0, 0.274), 
                 rgba(255, 255, 255, 0.974) );
    margin: 30px;
    border-width: 5px;
    border-style: solid;
    border-image-source: linear-gradient(to top left, green, orange, red);
    border-image-slice:  1;
    text-align: center;
    justify-content: center;
}

.invTitle{
    width: 70%;
    height: 15%;
    font-size: 1.425rem;
    margin-left: 60px;
    margin-top: 5px;
}

.contenu{
    width: 90%;
    /* height: 30%; */
    margin: 10px 20px;
    border: 5px double white;
    background-color: rgba(255, 255, 255, 0.671);
    /* transform: rotate3d(0, 205, 0); */
    /* background-color: white; */
}

.imagesContainer{
    width: 100%;
    height: 10%;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
}
.logoUb{
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 55px;
    margin-right: 55px;
}
.photoOlivier{
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 55px;
    margin-right: 55px;
}
.logoEansi{
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 55px;
}
.theme{
    width: 100%;
    height: 20%;
    background-color: blue;
}

.author{
    width: 100%;
    height: 5%;
    background-color: yellow;
}

.lieu{
    width: 40%;
    height: 20%;
    background-color: white;
}